<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://com.intel.tizen/phone" version="0.5" viewmodes="fullscreen">
    <icon src="icon.png"/>
    <content src="index.html"/>
<name>Phone</name>
<tizen:application id="dX4ehVHuAQ" required_version="1.0"/>
<feature name="http://tizen.org/api/contact" required="true"/>
    <feature name="http://tizen.org/api/contact.read" required="true"/>
    <feature name="http://tizen.org/api/contact.write" required="true"/>
    <feature name="http://tizen.org/api/tizen" required="true"/>
<feature name="http://tizen.org/api/call" required="true"/>
    <feature name="http://tizen.org/api/call.history" required="true"/>
    <feature name="http://tizen.org/api/call.history.read" required="true"/>
    <feature name="http://tizen.org/api/call.history.write" required="true"/>
    <feature name="http://tizen.org/api/call.state" required="true"/>
<feature name="http://tizen.org/api/application" required="true"/>
    <feature name="http://tizen.org/api/application.kill" required="true"/>
    <feature name="http://tizen.org/api/application.launch" required="true"/>
    <feature name="http://tizen.org/api/application.read" required="true"/>
</widget>
