#upNextRectangle {
	position: absolute;
	left: 35px;
	top: 100px;
}

#turnArrow {
	position: absolute;
	top: 135px;
	left: 45px;
	width: 50px;
	height: 37px;
	background-repeat: no-repeat;
	background-position: center center;
}

.navigationPanel {
	position: absolute;
	top: 128px;
	left: 106px;
	width: 470px;
	height: 40px;
	text-transform: uppercase;
}

#distanceTo {
	position: absolute;
	top: 180px;
	left: 35px;
	width: 70px;
	text-align: center;
}

#destinationProgress {
	position: absolute;
	left: 9px;
	top: 189px;
	width: 700px;
	height: 62px;
}

#destinationItem {
	position: absolute;
	left: 35px;
	top: 233px;
	width: 430px;
}

#destinationAddress {
	margin-top: 2px;
}

#destinationAddressTown {
	margin-top: 2px;
}

#stillToGoItem {
	position: absolute;
	left: 485px;
	top: 232px;
}

#stillToGoTimeAndDistance {
	margin-top: 2px;
}

#arrivalText {
	margin-top: 6px;
}

.mapPanel {
	position: absolute;
	top: 330px;
	width: 720px;
	height: 805px;
}

.iconBbox {
	left: 590px;
	top: 990px;
	border-style: solid;
	border-width: 2px;
	position: absolute;
	width: 110px;
	height: 80px;
}

.iconBbox:active {
	top: 991px;
}

.satelitteIcon {
	width: 56px;
	height: 54px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url("../images/icon_satellite_blue.png");
	display: none;
	background-repeat: no-repeat;
}

.mapIcon {
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 56px;
	height: 40px;
	background-image: url("../images/icon_map_blue.png");
	background-repeat: no-repeat;
}