{{if #index<6}}
<div id="{{:path}}"
	class="popularItem fontSizeMedium fontWeightBold settingsItemBorder"
	onClick="StoreLibrary.setAppDetailAndCategory('{{:category_id}}','{{:id}}')">
	<div class="detailPopIcon storeAppInfoImage">
		<img src="{{:iconUrl}}"
			style="width: 100%; height: 100%;">
	</div>
	
	<div class="storePopAppInfo">
		<div
			class="storePopAppTitle fontSizeMedium fontWeightBold fontColorNormal">
			{{:name}}</div>
		<div
			class="storePopAppMoreInfo fontSizeXSmall fontWeightBold fontColorDark">{{if
			installed=='true'}}Installed{{else if price ==0
			}}Free{{else}}{{:price}} Eur{{/if}}</div>
		<div class="storePopAppMoreInfo">
			<div class="ratingPopTable">
				<div
					class="ratingIcons {{if rating>0}}iconStarActive{{else}}iconStarInActive{{/if}}"></div>
				<div
					class="ratingIcons {{if rating>1}}iconStarActive{{else}}iconStarInActive{{/if}}"></div>
				<div
					class="ratingIcons {{if rating>2}}iconStarActive{{else}}iconStarInActive{{/if}}"></div>
				<div
					class="ratingIcons {{if rating>3}}iconStarActive{{else}}iconStarInActive{{/if}}"></div>
				<div
					class="ratingIcons {{if rating>4}}iconStarActive{{else}}iconStarInActive{{/if}}"></div>
			</div>
		</div>
	</div>
	<div class="transparent"></div>
</div>
{{/if}}
