<div id="item_{{:index}}" class="carouselItem">

	<img class="carouselImage" src="{{:image}}" alt="">
	<div class="albumCarouselDescription">
		<div class="albumCarouselDescriptionText fontColorNormal fontSizeLarge fontWeightBold">{{:artist}}
		</div>
		<div class="albumCarouselDescriptionText fontColorDimmedLight fontSizeXSmall fontWeightBold">{{:album}}
		</div>
	</div>


	<img class="carouselShadow" src="{{:image}}" {{if index==1}}style=
		"display: block"{{/if}} alt="" />
</div>