.divider {
	border-bottom: solid 1px;
	margin-top: 50px;
	position: absolute;
	top: 480px;
	width: 100%;
}

.popularHeader {
	position: absolute;
	top: 80px;
}

.popularAppsContainer {
	margin-left: -30px;
	position: absolute;
	width: 720px;
	top: 145px;
	overflow: hidden;
}

.popularItem {
	height: 182px;
	width: 182px;
	margin: 0 29px 58px 29px;
	float: left;
}

.detailPopIcon {
	width: 182px;
	height: 182px;
	margin: 0 auto;
}

.storePopAppInfo {
	float: left;
	position: relative;
	width: 100%;
	height: 96px;
	left: 0;
	top: -95px;
	text-transform: uppercase;
	text-align: center;	
	z-index: 9;
}

.storePopAppTitle {
	margin-top: 5px;
	overflow: hidden;
	height: 28px;
}


.storePopAppInfoImage {
	width: 182px;
	height: 182px;
}

.ratingPopTable
{
    width:182px;
    height:36px;
	margin: 3px 45px;
}

.iconPopStarActive
{
	display:inline-block;
}


.transparent {
	background-color: #111;
	position: relative;
	opacity: 0.65;
	z-index: 8;
	top: -95px;
}


